In [ ]:
maior_numero = 0
for contador in range(5):
  numero = int(input("Digite um numero"))
  if numero > maior_numero:
   maior_numero = numero
  print(maior_numero)

In [ ]:
for contador in range(1000, 2001):
  if contador % 11 ==2:
    print(contador)

In [ ]:
soma = 0
for I in range(5):
 numero = float(input(f"Digite o {I+1}° "))
 soma += numero
 media = soma/5

print(f"A soma dos numeros é:{soma}")
print(f"A media dos numero é:{media}")

In [ ]:
numero = int(input("Digite o numero da tabuada"))
for t in range(1, 11):
 resultado = numero * t
 print(f"{numero} * {t} = {resultado}")

In [ ]:
for t in range(1, 11):
 for y in range(1, 11):

  print(f"{t} * {y} = {t * y}")

In [ ]:
for i in range(1,21):
 print(i)

print(list(range(1, 21)))

In [ ]:
for i in range(1,52):
  if i % 2 != 0:
    print(i)

In [ ]:
n1= int(input("Digite um primeiro numero inteiro"))
n2= int(input("Digite um segundo numero inteiro"))
for i in range(n1+1, n2):
  print(i)

In [ ]:
lojaA=0
lojaB=54000

for i in range(5):
  valor=float(input("Digite um valor"))
lojaA += valor
if lojaA > lojaB:
  print("o faturamento da loja A é maior que lojaB")
elif lojaB > lojaB:
  print("o faturamento da lojaB é maior q lojaA")
else:
  print("o faturamento é igual")

In [ ]:
impar = 0
par = 0
for i in range(10):
  numero = int(input("digite um valor"))
  if numero % 2 != 0:
      impar += 1
  if numero % 2 == 0:
      par += 1



print(f"Numeros impares: {impar}, Numeros pares: {par}")

In [ ]:
for i in range(10):
    nota = int(input("Digite uma nota entre 0 e 10"))
    if nota < 0 or nota > 10:
     print(f"nota invalida {nota}")
    else:
     print(f"nota valida {nota}")

In [ ]:
salario = float(input("digite o salario inicial do funcionario"))
percentual = 0.015

for i in range(1996, 2025):
  aumento = salario * percentual
  salario += aumento
  percentual *= 2
  print(f"salario em {i} = {salario:.2f}")

In [ ]:
for i in range(10):
  nota = int(input("digite uma nota entre 0 e 10"))
  if nota < 0 or nota > 10:
    print(f"nota invalida {nota}")
  else:
    print(f"nota valida {nota}")
    break

In [ ]:
valor = float(input("Digite o valor da compra:"))
contagem = 1

if valor >= 600 and contagem:
  reduzido = valor - 500
  if reduzido >= 100 or contagem <= 24:
   for x in range(999):
    contagem += 1
   reduzido -= 100
   if reduzido < 100 or contagem == 24:
    break

porcentagem = contagem/100
desconto = valor * porcentagem
final = valor - desconto
print(f"o produto de R${valor:.2f} ficará a partir de R${final} com {contagem:.0f}% de desconto")

In [ ]:
idade1 = idade2 =idade3 = idade4 = idade5 = 0
for i in range(15):
 idade = int(input(f"digite uma idade{i+1}° "))
 if idade <= 15:
       idade1 += 1
 elif idade1 <= 30:
       idade2 += 1
 elif idade <= 45:
       idade3 += 1
 elif idade <= 60:
       idade4 += 1

 else:
      idade5 += 1

total = (idade1 + idade2 + idade3 + idade4 + idade5)
porcentagemidade1 = (idade1 / total) * 100
porcentagemidade5 = (idade5 / total) * 100

print(f"quantidade de pessoa em cada faixa etaria:")
print(f"ate 15 anos: {idade1}")
print(f"de 16 a 30 anos: {idade2}")
print(f"de 31 a 45 anos: {idade3}")
print(f"de 46 a 60 anos: {idade4}")
print(f"acima de 61 anos: {idade5}")
print(f"porcentagem de pessoas ate 15 anos {porcentagemidade1:.2f}%, porcentagem de pessoas acima de 61 anos {porcentagemidade5:.2f}% ")

In [ ]:
base = int(input("digite o numero da base: "))
expoente = int(input("digite o numero do expoente: "))
resultado = 1
for i in range(expoente):
  resultado *= base

print(f"o resultado de {base} elevado a {expoente} é: {resultado}")

In [ ]:
n = int(input("Digite um número: "))

for numero in range(1, n+1):
  for divisor in range(numero):
    print(f"{numero}/{divisor+1} = {numero%(divisor+1)}")
    if numero % (divisor+1) == 0:
     if 1 != divisor+1 != numero:
      print("nao é primo")
      break
    elif divisor+1 == numero:
      print("e primo")

In [ ]:
idade = int(input("Digite sua idade"))
if idade >= 18:
  print("voce pode votar na eleicao")
else:
  print("voce nao pode votar ")

Digite sua idade19
voce pode votar na eleicao

In [ ]:
numero = float(input("digite um numero"))
if numero > 0:
 print("o numero é positivo")
elif numero < 0:
 print("o numero é negativo")

digite um numero-5
o numero é negativo